---
http_interactions:
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/assignments?ends_at=2017-01-31&starts_at=2017-01-01&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"500b36117e1b19d5239f1343a3e8d141-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186876,"allocation_mode":"percent","percent":1.0,"user_id":30256,"assignable_id":183760,"ends_at":"2017-01-31","starts_at":"2017-01-01","bill_rate":666.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T23:19:29Z","updated_at":"2017-01-27T23:19:29Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Fri, 27 Jan 2017 23:19:29 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/users/30256/assignments?ends_at=2017-01-31&project_id=183760&starts_at=2017-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a7288aa372ddfc62466d14931c0ee3ae-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186882,"allocation_mode":"percent","percent":1.0,"user_id":30256,"assignable_id":183760,"ends_at":"2017-01-31","starts_at":"2017-01-01","bill_rate":666.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-31T00:17:48Z","updated_at":"2017-01-31T00:17:48Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Tue, 31 Jan 2017 00:17:48 GMT
[...]
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/users/30256/assignments?ends_at=2017-01-31&project_id=183760&starts_at=2017-01-01
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d74d2bbca5e414a2ef66a085e1b6f8e2-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186887,"allocation_mode":"percent","percent":1.0,"user_id":30256,"assignable_id":183760,"ends_at":"2017-01-31","starts_at":"2017-01-01","bill_rate":666.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-02-03T00:35:56Z","updated_at":"2017-02-03T00:35:56Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Fri, 03 Feb 2017 00:35:57 GMT
recorded_with: VCR 2.9.3
