---
http_interactions:
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects?name=Test2
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - <TENK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fe73d2ec68e8fb7f1ad4135a03b508c8-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":183809,"archived":false,"archived_at":null,"description":null,"guid":"79bd7507-b91f-4343-bf93-7bbbda6df2c4","name":"Test2","parent_id":null,"phase_name":null,"project_code":null,"secureurl":null,"secureurl_expiration":null,"settings":0,"timeentry_lockout":-1,"ends_at":"2017-03-28","starts_at":"2017-01-27","deleted_at":null,"created_at":"2017-01-27T21:10:29Z","updated_at":"2017-01-27T21:10:29Z","use_parent_bill_rates":false,"thumbnail":null,"type":"Project","has_pending_updates":false,"client":null,"project_state":"Confirmed","tags":{"paging":{"self":"/api/v1/projects/183809/tags?per_page=0&page=1","next":null,"previous":null,"page":1,"per_page":0},"data":[]}}
  recorded_at: Fri, 27 Jan 2017 21:10:29 GMT
recorded_with: VCR 2.9.3
