---
http_interactions:
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/phases?phase_name=Test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2465c1d61a32ddf4601913d3df47fdc9-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":183816,"archived":false,"archived_at":null,"description":null,"guid":"c7efda5c-19b7-4054-a8c5-60545d099982","name":"Test","parent_id":183760,"phase_name":"Test","project_code":null,"secureurl":null,"secureurl_expiration":null,"settings":0,"timeentry_lockout":-1,"ends_at":"2017-03-29","starts_at":"2017-01-28","deleted_at":null,"created_at":"2017-01-28T00:20:23Z","updated_at":"2017-01-28T00:20:23Z","use_parent_bill_rates":true,"thumbnail":null,"type":"Project","has_pending_updates":false,"client":null,"project_state":"Internal","tags":{"paging":{"self":"/api/v1/projects/183816/tags?per_page=0&page=1","next":null,"previous":null,"page":1,"per_page":0},"data":[]}}
  recorded_at: Sat, 28 Jan 2017 00:20:23 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/phases?phase_name=Test
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1e43cb2d5b3bb42ce21085441fc10558-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":183836,"archived":false,"archived_at":null,"description":null,"guid":"4d32d941-91ef-48f7-a730-e7ad6e41bf6e","name":"Test","parent_id":183760,"phase_name":"Test","project_code":null,"secureurl":null,"secureurl_expiration":null,"settings":0,"timeentry_lockout":-1,"ends_at":"2017-04-04","starts_at":"2017-02-03","deleted_at":null,"created_at":"2017-02-03T00:35:54Z","updated_at":"2017-02-03T00:35:54Z","use_parent_bill_rates":true,"thumbnail":null,"type":"Project","has_pending_updates":false,"client":null,"project_state":"Internal","tags":{"paging":{"self":"/api/v1/projects/183836/tags?per_page=0&page=1","next":null,"previous":null,"page":1,"per_page":0},"data":[]}}
  recorded_at: Fri, 03 Feb 2017 00:35:55 GMT
recorded_with: VCR 2.9.3
