---
http_interactions:
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/time_entries?assignable_id=183765&date=2017-01-31&hours=0.75&notes=Test%20test&task=Test&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"c968b1641f38c3d450b39f0b0a3ce6d7-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13037058,"assignable_id":183765,"assignable_type":"Project","user_id":30256,"bill_rate":666.0,"bill_rate_id":319904,"date":"2017-01-31","hours":0.75,"scheduled_hours":null,"notes":"Test test","task":"Test","is_suggestion":false,"created_at":"2017-01-30T22:22:46Z","updated_at":"2017-01-30T22:22:46Z"}
  recorded_at: Mon, 30 Jan 2017 22:22:46 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/time_entries?assignable_id=183765&date=2017-01-31&hours=0.75&notes=Test%20test&task=Test&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a9ddf5bc71b2684a296531ecacbd256f-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13037407,"assignable_id":183765,"assignable_type":"Project","user_id":30256,"bill_rate":666.0,"bill_rate_id":319904,"date":"2017-01-31","hours":0.75,"scheduled_hours":null,"notes":"Test test","task":"Test","is_suggestion":false,"created_at":"2017-02-03T00:35:44Z","updated_at":"2017-02-03T00:35:44Z"}
  recorded_at: Fri, 03 Feb 2017 00:35:44 GMT
recorded_with: VCR 2.9.3
