---
http_interactions:
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/bill_rates?assignable_id=183765&rate=123
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: '{"message":"internal error"}'
  recorded_at: Fri, 27 Jan 2017 21:28:37 GMT
[...]
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates?ends_at=2017-01-31&starts_at=2017-01-01&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: UTF-8
      string: '{"message":"bad data","errors":["Rate can''t be blank"]}'
  recorded_at: Sat, 28 Jan 2017 00:09:23 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates?rate=123&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: '{"message":"internal error"}'
  recorded_at: Sat, 28 Jan 2017 00:10:22 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates?assignable_id=183760&rate=123&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: '{"message":"internal error"}'
  recorded_at: Sat, 28 Jan 2017 00:11:40 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates?assignable_id=183765&rate=123&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"022070539161b95ce3698bdbda092670-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":319938,"rate":123.0,"assignable_id":183765,"discipline_id":null,"role_id":null,"user_id":30256,"starts_at":null,"ends_at":null,"created_at":"2017-01-28T00:15:23Z","updated_at":"2017-01-28T00:15:23Z","startdate":null,"enddate":null}
  recorded_at: Sat, 28 Jan 2017 00:15:24 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates?assignable_id=183765&rate=123&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: '{"message":"internal error"}'
  recorded_at: Fri, 03 Feb 2017 00:35:50 GMT
recorded_with: VCR 2.9.3
