---
http_interactions:
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/users?archived=false&first_name=Test&last_name=Testerson
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - <TENK_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: UTF-8
      string: '{"message":"cannot assign attributes: archived"}'
  recorded_at: Fri, 27 Jan 2017 20:59:49 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/users?first_name=Test&last_name=Testerson
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - <TENK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2819e916c72141bcb2449f47bd7103a6-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":30264,"first_name":"Test","last_name":"Testerson","archived":false,"display_name":"Test Testerson","email":null,"user_type_id":3,"billable":true,"hire_date":null,"termination_date":null,"mobile_phone":null,"office_phone":null,"deleted_at":null,"deleted":false,"account_owner":false,"invitation_pending":false,"user_settings":0,"guid":"54543c6d-d3ac-4ba9-b2d2-99915639caa4","employee_number":null,"billability_target":100.0,"billrate":-1.0,"role":null,"discipline":null,"location":null,"created_at":"2017-01-27T21:00:42Z","has_login":false,"login_type":null,"archived_at":null,"thumbnail":""}
  recorded_at: Fri, 27 Jan 2017 21:00:42 GMT
recorded_with: VCR 2.9.3
