---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/bill_rates/30256
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: UTF-8
      string: '{"message":"accessing account level bill rates"}'
  recorded_at: Fri, 27 Jan 2017 21:24:57 GMT
[...]
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates/319903
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"698ca230d7dde0aa0c60600b318d1d58-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":319903,"rate":123.0,"assignable_id":183760,"discipline_id":null,"role_id":null,"user_id":null,"starts_at":null,"ends_at":null,"created_at":"2017-01-25T23:13:44Z","updated_at":"2017-01-27T21:28:38Z","startdate":null,"enddate":null}
  recorded_at: Sat, 28 Jan 2017 00:09:22 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates/319903
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"698ca230d7dde0aa0c60600b318d1d58-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":319903,"rate":123.0,"assignable_id":183760,"discipline_id":null,"role_id":null,"user_id":null,"starts_at":null,"ends_at":null,"created_at":"2017-01-25T23:13:44Z","updated_at":"2017-01-27T21:28:38Z","startdate":null,"enddate":null}
  recorded_at: Fri, 03 Feb 2017 00:35:51 GMT
recorded_with: VCR 2.9.3
