---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256?fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"72eea0f5ecdf6b2866d5f1ec51b9044f-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":30256,"first_name":"Robert","last_name":"Prehn","archived":false,"display_name":"Robert Prehn","email":"robert+10k_sandbox@revelry.co","user_type_id":1,"billable":true,"hire_date":null,"termination_date":null,"mobile_phone":null,"office_phone":null,"deleted_at":null,"deleted":false,"account_owner":true,"invitation_pending":false,"user_settings":917741,"guid":"bac488bf-203e-40fc-bc2c-1206aee0bab7","employee_number":null,"billability_target":100.0,"billrate":250.0,"role":"VP","discipline":"Engineer","location":"NOLA","created_at":"2017-01-25T23:13:44Z","has_login":true,"login_type":"default","archived_at":null,"thumbnail":"https://d1zljzhvpuyaiz.cloudfront.net/bac488bf-203e-40fc-bc2c-1206aee0bab7/45636647-4803-4445-8283-cc87a8d0fc85.png"}
  recorded_at: Fri, 27 Jan 2017 20:57:43 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256?fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"af8dd423a868edbae506d69db4d7f866-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":30256,"first_name":"Test","last_name":"Prehn","archived":false,"display_name":"Test Prehn","email":"robert+10k_sandbox@revelry.co","user_type_id":1,"billable":true,"hire_date":null,"termination_date":null,"mobile_phone":null,"office_phone":null,"deleted_at":null,"deleted":false,"account_owner":true,"invitation_pending":false,"user_settings":917741,"guid":"bac488bf-203e-40fc-bc2c-1206aee0bab7","employee_number":null,"billability_target":100.0,"billrate":250.0,"role":"VP","discipline":"Engineer","location":"NOLA","created_at":"2017-01-25T23:13:44Z","has_login":true,"login_type":"default","archived_at":null,"thumbnail":"https://d1zljzhvpuyaiz.cloudfront.net/bac488bf-203e-40fc-bc2c-1206aee0bab7/45636647-4803-4445-8283-cc87a8d0fc85.png"}
  recorded_at: Fri, 03 Feb 2017 00:36:00 GMT
recorded_with: VCR 2.9.3
