---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/assignments/30256
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"message":"not found"}'
  recorded_at: Fri, 27 Jan 2017 23:19:30 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/assignments/186877
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"b443c84ff27f5010650a07aa5f979c66-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186877,"allocation_mode":"percent","percent":0.5,"user_id":30256,"assignable_id":183760,"ends_at":"2017-01-31","starts_at":"2017-01-01","bill_rate":666.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T23:25:58Z","updated_at":"2017-01-27T23:26:41Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Fri, 27 Jan 2017 23:26:57 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/assignments/186842
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d09ea50d3fc5f245b1e3a0b0e4709704-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186842,"allocation_mode":"percent","percent":1.0,"user_id":30256,"assignable_id":183765,"ends_at":"2017-01-31","starts_at":"2017-01-26","bill_rate":250.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T00:07:10Z","updated_at":"2017-01-27T00:07:10Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Tue, 31 Jan 2017 00:17:15 GMT
[...]
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/assignments/186842
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2bf227250ffaea6e3a960ebba362d83d-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186842,"allocation_mode":"percent","percent":0.5,"user_id":30256,"assignable_id":183765,"ends_at":"2017-01-31","starts_at":"2017-01-26","bill_rate":250.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T00:07:10Z","updated_at":"2017-01-31T00:17:16Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Fri, 03 Feb 2017 00:35:58 GMT
recorded_with: VCR 2.9.3
