---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/30256?fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"message":"not found"}'
  recorded_at: Fri, 27 Jan 2017 21:10:31 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760?fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5dca3f1f6adeced2e72fb6022376846d-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":183760,"archived":false,"archived_at":null,"description":null,"guid":"ef3d0b58-eb2e-422a-85c5-0cc669ec167f","name":"Getting the most out of 10,000ft","parent_id":null,"phase_name":null,"project_code":null,"secureurl":"/images/sample_proj_balloons.jpeg","secureurl_expiration":"2017-01-26T22:13:44Z","settings":16,"timeentry_lockout":-1,"ends_at":"2017-05-24","starts_at":"2017-01-25","deleted_at":null,"created_at":"2017-01-25T23:13:44Z","updated_at":"2017-01-26T21:02:24Z","use_parent_bill_rates":false,"thumbnail":"/images/sample_proj_balloons.jpeg","type":"Project","has_pending_updates":false,"client":null,"project_state":"Internal","tags":{"paging":{"self":"/api/v1/projects/183760/tags?per_page=0&page=1","next":null,"previous":null,"page":1,"per_page":0},"data":[]}}
  recorded_at: Fri, 27 Jan 2017 21:10:57 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760?fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"454d31ee45c61228055c93826cdb0ca3-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":183760,"archived":false,"archived_at":null,"description":null,"guid":"ef3d0b58-eb2e-422a-85c5-0cc669ec167f","name":"Test","parent_id":null,"phase_name":null,"project_code":null,"secureurl":"/images/sample_proj_balloons.jpeg","secureurl_expiration":"2017-01-26T22:13:44Z","settings":16,"timeentry_lockout":-1,"ends_at":"2017-05-24","starts_at":"2017-01-25","deleted_at":null,"created_at":"2017-01-25T23:13:44Z","updated_at":"2017-01-27T21:10:57Z","use_parent_bill_rates":false,"thumbnail":"/images/sample_proj_balloons.jpeg","type":"Project","has_pending_updates":false,"client":null,"project_state":"Internal","tags":{"paging":{"self":"/api/v1/projects/183760/tags?per_page=0&page=1","next":null,"previous":null,"page":1,"per_page":0},"data":[]}}
  recorded_at: Fri, 03 Feb 2017 00:35:42 GMT
recorded_with: VCR 2.9.3
