---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/approvals/5059?fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - <TENK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"45b31f61c182d3ed28135cdd143526e1-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":5059,"status":"pending","approvable_id":13035670,"approvable_type":"TimeEntry","submitted_by":30256,"submitted_at":"2017-01-27T21:20:51Z","approved_by":null,"approved_at":null,"created_at":"2017-01-27T21:20:51Z","updated_at":"2017-01-27T21:20:51Z"}
  recorded_at: Fri, 27 Jan 2017 21:21:54 GMT
recorded_with: VCR 2.9.3
