---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/approvals?fields=&page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - <TENK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1bb5ecbc6b811c18f2c3cfe5685bb3c3-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/approvals?fields=&per_page=20&page=1","next":null},"data":[{"id":5059,"status":"pending","approvable_id":13035670,"approvable_type":"TimeEntry","submitted_by":30256,"submitted_at":"2017-01-27T21:20:51Z","approved_by":null,"approved_at":null,"created_at":"2017-01-27T21:20:51Z","updated_at":"2017-01-27T21:20:51Z"},{"id":5060,"status":"pending","approvable_id":13035671,"approvable_type":"TimeEntry","submitted_by":30256,"submitted_at":"2017-01-27T21:20:51Z","approved_by":null,"approved_at":null,"created_at":"2017-01-27T21:20:51Z","updated_at":"2017-01-27T21:20:51Z"},{"id":5061,"status":"pending","approvable_id":13035672,"approvable_type":"TimeEntry","submitted_by":30256,"submitted_at":"2017-01-27T21:20:51Z","approved_by":null,"approved_at":null,"created_at":"2017-01-27T21:20:51Z","up[...]
