---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/time_entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - <TENK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4275fbeedf61e7c56ca5fa4e3c7950ab-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/time_entries?assignable_id=&page=1","next":null},"data":[{"id":13035670,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":250.0,"bill_rate_id":319904,"date":"2017-01-26","hours":0.5,"scheduled_hours":null,"notes":"zzz","task":"Party","is_suggestion":false,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-01-26T22:42:13Z"}]}
  recorded_at: Mon, 30 Jan 2017 22:13:35 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/time_entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - <TENK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"758dc5e28ce7a3e4bb2edf3ee8538cb5-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/users/30256/time_entries?user_id=30256&assignable_id=&page=1","next":null},"data":[{"id":13035670,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":250.0,"bill_rate_id":319904,"date":"2017-01-26","hours":1.0,"scheduled_hours":null,"notes":"zzz","task":"Party","is_suggestion":false,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-01-30T23:27:25Z"}]}
  recorded_at: Tue, 31 Jan 2017 00:19:59 GMT
recorded_with: VCR 2.9.3
