---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects?fields=&page=1&per_page=20&with_archived=false&with_phases=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - <TENK_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9c68ae76645318aed81752d030ec5a50-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects?fields=&per_page=20&with_archived=false&with_phases=false&page=1","next":null},"data":[{"id":183760,"archived":false,"archived_at":null,"description":null,"guid":"ef3d0b58-eb2e-422a-85c5-0cc669ec167f","name":"Getting the most out of 10,000ft","parent_id":null,"phase_name":null,"project_code":null,"secureurl":"/images/sample_proj_balloons.jpeg","secureurl_expiration":"2017-01-26T22:13:44Z","settings":16,"timeentry_lockout":-1,"ends_at":"2017-05-24","starts_at":"2017-01-25","deleted_at":null,"created_at":"2017-01-25T23:13:44Z","updated_at":"2017-01-26T21:02:24Z","use_parent_bill_rates":false,"thumbnail":"/images/sample_proj_balloons.jpeg","type":"Project","has_pending_updates":false,"client":null,"project_state":"Internal","tags":{"paging":{"self":"/api/v1/projects/183760/tags?per_page=0&page=1","next":null,"previous":null,"page":1,"per_page":0},"data":[]}},{"id":183809,"archived":false,"archived_at":null,"description":null,"guid":"79bd7507-b91f-4343-bf93-7bbbda6df2c4","name":"Test2","parent_id":null,"phase_name":null,"project_code":null,"secureurl":null,"secureurl_expiration":null,"settings":0,"timeentry_lockout":-1,"ends_at":"2017-03-28","starts_at":"2017-01-27","deleted_at":null,"created_at":"2017-01-27T21:10:29Z","updated_at":"2017-01-27T21:10:29Z","use_parent_bill_rates":false,"thumbnail":null,"type":"Project","has_pending_updates":false,"client":null,"project_state":"Confirmed","tags":{"paging":{"self":"/api/v1/projects/183809/tags?per_page=0&page=1","next":null,"previous":null,"page":1,"per_page":0},"data":[]}}]}
  recorded_at: Fri, 27 Jan 2017 21:10:30 GMT
recorded_with: VCR 2.9.3
