---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/assignments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"51f3a2d06e40399d3225f943c5f3d3fc-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects/183760/assignments?assignable_id=183760&page=1","next":null},"data":[{"id":186875,"allocation_mode":"percent","percent":1.0,"user_id":30256,"assignable_id":183760,"ends_at":"2017-01-31","starts_at":"2017-01-01","bill_rate":666.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T23:18:13Z","updated_at":"2017-01-27T23:18:13Z","all_day_assignment":true,"resource_request_id":null,"status":null},{"id":186876,"allocation_mode":"percent","percent":1.0,"user_id":30256,"assignable_id":183760,"ends_at":"2017-01-31","starts_at":"2017-01-01","bill_rate":666.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T23:19:29Z","updated_at":"2017-01-27T23:19:29Z","all_day_assignment":true,"resource_request_id":null,"status":null}]}
  recorded_at: Fri, 27 Jan 2017 23:19:30 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/assignments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d2911c05b4783d63fb58d4f81f453166-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
   [...]
[...]
