---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users//users/30256/tags?fields=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Sat, 28 Jan 2017 00:01:15 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2e8d9e9f90c1c217d0a4dfb783ba6637-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/users/30256/tags?user_id=30256&page=1","next":null},"data":[]}
  recorded_at: Sat, 28 Jan 2017 00:03:14 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fdbe323080808b1001f06088ccf82e8d-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects/183760/tags?project_id=183760&page=1","next":null},"data":[]}
  recorded_at: Tue, 31 Jan 2017 00:06:42 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"44c588c28b02c67c80df8c1475f2bd3b-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/users/30256/tags?user_id=30256&page=1","next":null},"data":[{"id":104978,"value":"104977"}]}
  recorded_at: Fri, 03 Feb 2017 00:35:46 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"fdbe323080808b1001f06088ccf82e8d-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects/183760/tags?project_id=183760&page=1","next":null},"data":[]}
  recorded_at: Fri, 03 Feb 2017 00:35:59 GMT
recorded_with: VCR 2.9.3
