---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/phases?fields=&page=1&per_page=20&with_archived=false&with_phases=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"bb6ccc8fae18c3a7fae9ff470c3e325c-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects/183760/phases?fields=&per_page=20&with_archived=false&with_phases=false&project_id=183760&page=1","next":null},"data":[{"id":183761,"archived":false,"archived_at":null,"description":null,"guid":"2400498f-ac33-4132-bde5-3e3fa0440122","name":"Party","parent_id":183760,"phase_name":"Test","project_code":null,"secureurl":null,"secureurl_expiration":null,"settings":16,"timeentry_lockout":-1,"ends_at":"2017-02-23","starts_at":"2017-01-25","deleted_at":null,"created_at":"2017-01-25T23:13:44Z","updated_at":"2017-01-28T00:20:23Z","use_parent_bill_rates":true,"thumbnail":null,"type":"Project","has_pending_updates":false,"client":null,"project_state":"Internal","tags":{"paging":{"self":"/api/v1/projects/183761/tags?per_page=0&page=1","next":null,"previous":null,"page":1,"per_page":0},"data":[]}}]}
  recorded_at: Sat, 28 Jan 2017 00:20:24 GMT
[...]
