---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users?fields=&page=1&per_page=20&with_archived=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9d53e71c404c5ea7ce42ddab704922df-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/users?fields=&per_page=20&with_archived=false&page=1","next":null},"data":[{"id":30256,"first_name":"Robert","last_name":"Prehn","archived":false,"display_name":"Robert Prehn","email":"robert+10k_sandbox@revelry.co","user_type_id":1,"billable":true,"hire_date":null,"termination_date":null,"mobile_phone":null,"office_phone":null,"deleted_at":null,"deleted":false,"account_owner":true,"invitation_pending":false,"user_settings":917741,"guid":"bac488bf-203e-40fc-bc2c-1206aee0bab7","employee_number":null,"billability_target":100.0,"billrate":250.0,"role":"VP","discipline":"Engineer","location":"NOLA","created_at":"2017-01-25T23:13:44Z","has_login":true,"login_type":"default","archived_at":null,"thumbnail":"https://d1zljzhvpuyaiz.cloudfront.net/bac488bf-203e-40fc-bc2c-1206aee0bab7/45636647-4803-4445-8283-cc87a8d0fc85.png"}]}
  recorded_at: Fri, 27 Jan 2017 20:56:07 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/users?fields=&page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"75ab72b9c1dcab84def69e1820d51912-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects/183760/users?fields=&per_page=20&project_id=183760&page=1","next":null},"data":[{"id":30256,"first_name":"Test","last_name":"Prehn","archived":false,"display_name":"Test Prehn","email":"robert+10k_sandbox@revelry.co","user_type_id":1,"billable":true,"hire_date":null,"termination_date":null,"mobile_phone":null,"office_phone":null,"deleted_at":null,"deleted":false,"account_owner":true,"invitation_pending":false,"user_settings":917741,"guid":"bac488bf-203e-40fc-bc2c-1206aee0bab7","employee_number":null,"billability_target":100.0,"billrate":250.0,"role":"VP","discipline":"Engineer","location":"NOLA","created_at":"2017-01-25T23:13:44Z","has_login":true,"login_type":"default","archived_at":null,"thumbnail":"https://d1zljzhvpuyaiz.cloudfront.net/bac488bf-203e-40fc-bc2c-1206aee0bab7/45636647-4803-4445-8283-cc87a8d0fc85.png"}]}
  recorded_at: Mon, 30 Jan 2017 22:10:52 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/users?fields=&page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"75ab72b9c1dcab84def69e1820d51912-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects/183760/users?fields=&per_page=20&project_id=183760&page=1","next":null},"data":[{"id":30256,"first_name":"Test","last_name":"Prehn","archived":false,"display_name":"Test Prehn","email":"robert+10k_sandbox@revelry.co","user_type_id":1,"billable":true,"hire_date":null,"termination_date":null,"mobile_phone":null,"office_phone":null,"deleted_at":null,"deleted":false,"account_owner":true,"invitation_pending":false,"user_settings":917741,"guid":"bac488bf-203e-40fc-bc2c-1206aee0bab7","employee_number":null,"billability_target":100.0,"billrate":250.0,"role":"VP","discipline":"Engineer","location":"NOLA","created_at":"2017-01-25T23:13:44Z","has_login":true,"login_type":"default","archived_at":null,"thumbnail":"https://d1zljzhvpuyaiz.cloudfront.net/bac488bf-203e-40fc-bc2c-1206aee0bab7/45636647-4803-4445-8283-cc87a8d0fc85.png"}]}
  recorded_at: Fri, 03 Feb 2017 00:35:58 GMT
recorded_with: VCR 2.9.3
