---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/bill_rates?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: UTF-8
      string: '{"message":"account level bill rates"}'
  recorded_at: Fri, 27 Jan 2017 21:24:56 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"294430a826f41bdc2c7ffdb6ae68200a-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects/183760/bill_rates?per_page=20&assignable_id=183760&page=1","next":null},"data":[{"id":319903,"rate":123.0,"assignable_id":183760,"discipline_id":null,"role_id":null,"user_id":null,"starts_at":null,"ends_at":null,"created_at":"2017-01-25T23:13:44Z","updated_at":"2017-01-27T21:28:38Z","startdate":null,"enddate":null},{"id":319904,"rate":666.0,"assignable_id":183760,"discipline_id":null,"role_id":null,"user_id":30256,"starts_at":null,"ends_at":null,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-01-27T17:22:59Z","startdate":null,"enddate":null}]}
  recorded_at: Sat, 28 Jan 2017 00:09:22 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/projects/183760/bill_rates?page=1&per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"294430a826f41bdc2c7ffdb6ae68200a-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/projects/183760/bill_rates?per_page=20&assignable_id=183760&page=1","next":null},"data":[{"id":319903,"rate":123.0,"assignable_id":183760,"discipline_id":null,"role_id":null,"user_id":null,"starts_at":null,"ends_at":null,"created_at":"2017-01-25T23:13:44Z","updated_at":"2017-01-27T21:28:38Z","startdate":null,"enddate":null},{"id":319904,"rate":666.0,"assignable_id":183760,"discipline_id":null,"role_id":null,"user_id":30256,"starts_at":null,"ends_at":null,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-01-27T17:22:59Z","startdate":null,"enddate":null}]}
  recorded_at: Fri, 03 Feb 2017 00:35:50 GMT
recorded_with: VCR 2.9.3
