---
http_interactions:
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183760/time_entries?hours=0.5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"message":"not found"}'
  recorded_at: Tue, 31 Jan 2017 00:29:48 GMT
[...]
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183765/time_entries?assignable_id=183765&date=2017-01-01&hours=0.5&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"be58f0502dd82454b9a08b9c81ac7e52-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13037219,"assignable_id":183765,"assignable_type":"Project","user_id":30256,"bill_rate":666.0,"bill_rate_id":319904,"date":"2017-01-01","hours":0.5,"scheduled_hours":null,"notes":null,"task":null,"is_suggestion":false,"created_at":"2017-01-31T00:33:12Z","updated_at":"2017-01-31T00:33:12Z"}
  recorded_at: Tue, 31 Jan 2017 00:33:12 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/projects/183765/time_entries?assignable_id=183765&date=2017-01-01&hours=0.5&user_id=30256
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"803ae009bab927420c889a87e37b6394-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13037406,"assignable_id":183765,"assignable_type":"Project","user_id":30256,"bill_rate":666.0,"bill_rate_id":319904,"date":"2017-01-01","hours":0.5,"scheduled_hours":null,"notes":null,"task":null,"is_suggestion":false,"created_at":"2017-02-03T00:35:43Z","updated_at":"2017-02-03T00:35:43Z"}
  recorded_at: Fri, 03 Feb 2017 00:35:43 GMT
recorded_with: VCR 2.9.3
