---
http_interactions:
- request:
    method: put
    uri: https://vnext.10000ft.com/api/v1/projects/183760/assignments/186875?percent=0.5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ab4804eb8670c2ab01e370e1b78f0dcf-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186875,"allocation_mode":"percent","percent":0.5,"user_id":30256,"assignable_id":183760,"ends_at":"2017-01-31","starts_at":"2017-01-01","bill_rate":666.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T23:18:13Z","updated_at":"2017-01-27T23:19:31Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Fri, 27 Jan 2017 23:19:31 GMT
[...]
- request:
    method: put
    uri: https://vnext.10000ft.com/api/v1/users/30256/assignments/186842?percent=0.5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2bf227250ffaea6e3a960ebba362d83d-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186842,"allocation_mode":"percent","percent":0.5,"user_id":30256,"assignable_id":183765,"ends_at":"2017-01-31","starts_at":"2017-01-26","bill_rate":250.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T00:07:10Z","updated_at":"2017-01-31T00:17:16Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Tue, 31 Jan 2017 00:17:16 GMT
[...]
- request:
    method: put
    uri: https://vnext.10000ft.com/api/v1/users/30256/assignments/186842?percent=0.5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"2bf227250ffaea6e3a960ebba362d83d-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":186842,"allocation_mode":"percent","percent":0.5,"user_id":30256,"assignable_id":183765,"ends_at":"2017-01-31","starts_at":"2017-01-26","bill_rate":250.0,"bill_rate_id":319904,"repetition_id":null,"created_at":"2017-01-27T00:07:10Z","updated_at":"2017-01-31T00:17:16Z","all_day_assignment":true,"resource_request_id":null,"status":null}
  recorded_at: Fri, 03 Feb 2017 00:35:58 GMT
recorded_with: VCR 2.9.3
