---
http_interactions:
- request:
    method: put
    uri: https://vnext.10000ft.com/api/v1/time_entries/13035670?hours=1.0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7f37f5fdc7b9d228cc95262fecdd20d5-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13035670,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":250.0,"bill_rate_id":319904,"date":"2017-01-26","hours":1.0,"scheduled_hours":null,"notes":"zzz","task":"Party","is_suggestion":false,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-01-30T23:27:25Z"}
  recorded_at: Mon, 30 Jan 2017 23:27:25 GMT
- request:
    method: put
    uri: https://vnext.10000ft.com/api/v1/users/30256/time_entries/186842?hours=0.5
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"message":"not found"}'
  recorded_at: Tue, 31 Jan 2017 00:22:36 GMT
- request:
    method: put
    uri: https://vnext.10000ft.com/api/v1/time_entries/13035670?hours=1.0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"f8f1476d9b4ef4801160a21116ae5f47-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13035670,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":250.0,"bill_rate_id":319904,"date":"2017-01-26","hours":1.0,"scheduled_hours":null,"notes":"zzz","task":"Party","is_suggestion":false,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-02-03T00:35:45Z"}
  recorded_at: Fri, 03 Feb 2017 00:35:45 GMT
recorded_with: VCR 2.9.3
