---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/time_entries/13035670
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7f37f5fdc7b9d228cc95262fecdd20d5-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13035670,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":250.0,"bill_rate_id":319904,"date":"2017-01-26","hours":1.0,"scheduled_hours":null,"notes":"zzz","task":"Party","is_suggestion":false,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-01-30T23:27:25Z"}
  recorded_at: Tue, 31 Jan 2017 00:25:06 GMT
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/time_entries/13035670
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4b98cbcc3bd29d0a34ad01f4b8a9ac23-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13035670,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":250.0,"bill_rate_id":319904,"date":"2017-01-26","hours":0.5,"scheduled_hours":null,"notes":"zzz","task":"Party","is_suggestion":false,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-02-03T00:35:49Z"}
  recorded_at: Fri, 03 Feb 2017 00:35:49 GMT
recorded_with: VCR 2.9.3
