---
http_interactions:
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/users/30256/time_entries?date=2017-01-01&project_id=183760
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 403 Forbidden
    body:
      encoding: ASCII-8BIT
      string: '{"message":"bad data","errors":["Hours is required when is_suggestion
        is false"]}'
  recorded_at: Tue, 31 Jan 2017 00:25:44 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/users/30256/time_entries?date=2017-01-01&hours=0.5&project_id=183760
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d62825993bed8b1d3d9160a4e01b3ac5-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13037217,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":666.0,"bill_rate_id":319904,"date":"2017-01-01","hours":0.5,"scheduled_hours":null,"notes":null,"task":null,"is_suggestion":false,"created_at":"2017-01-31T00:26:45Z","updated_at":"2017-01-31T00:26:45Z"}
  recorded_at: Tue, 31 Jan 2017 00:26:45 GMT
- request:
    method: post
    uri: https://vnext.10000ft.com/api/v1/users/30256/time_entries?date=2017-01-01&hours=0.5&project_id=183760
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"74e7c3709fbee6e82497d111b7ef4e4e-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"id":13037408,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":666.0,"bill_rate_id":319904,"date":"2017-01-01","hours":0.5,"scheduled_hours":null,"notes":null,"task":null,"is_suggestion":false,"created_at":"2017-02-03T00:35:48Z","updated_at":"2017-02-03T00:35:48Z"}
  recorded_at: Fri, 03 Feb 2017 00:35:48 GMT
recorded_with: VCR 2.9.3
