---
http_interactions:
- request:
    method: get
    uri: https://vnext.10000ft.com/api/v1/users/30256/time_entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Auth:
      - "<TENK_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"9f6c800bbd202b9fddfe48e5c5e6f023-gzip"'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: |
        {"paging":{"per_page":20,"page":1,"previous":null,"self":"/api/v1/users/30256/time_entries?user_id=30256&assignable_id=&page=1","next":null},"data":[{"id":13035670,"assignable_id":183760,"assignable_type":"Project","user_id":30256,"bill_rate":250.0,"bill_rate_id":319904,"date":"2017-01-26","hours":0.5,"scheduled_hours":null,"notes":"zzz","task":"Party","is_suggestion":false,"created_at":"2017-01-26T22:42:13Z","updated_at":"2017-01-31T00:25:06Z"}]}
  recorded_at: Tue, 31 Jan 2017 00:25:07 GMT
[...]
